@import '../../mixins';

form {
  margin-top: 40px;

  @include tablet {
    margin-top: 140px;
  }

  @include mobile {
    margin-top: 25px;
  }
}

.game-container {
  background: linear-gradient(rgba(3, 17, 62, 0.85), rgba(0,0,0,.8), rgba(78, 24, 0, 0.85));
  box-shadow: -2px 2px 10px -2px rgba(0, 0, 0, 0.75), inset 0 0 18px 7px rgba(0, 0, 0, 0.85);
  padding: 25px;
  padding-right: 8px;
  border-radius: 20px;
  margin-bottom: 25px;

  @include mobile {
    padding-left: 8px;
  }

  .player-rows {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &:last-child {
      margin-top: 25px;
    }

    .team-name {
      text-transform: uppercase;
      margin-left: 63px;
      margin-bottom: 5px;
      font-size: 25pt;
      transform: scaleY(1.1);
      align-self: flex-start;
      font-weight: 100;

      @include mobile {
        font-size: 20pt;
        margin-left: 0px;
        margin-bottom: 15px;
      }

      &.blue {
        color: #64a6e8;
      }

      &.orange {
        color: #fcd177;
      }
    }
  }

  .player-row {
    height: 50px;
    display: flex;
    flex-direction: row;
    width: 93%;
    margin: 4px 0px;

    @include mobile {
      height: 40px;
      width: 100%;
    }

    &:last-child {
      .label {
        display: none;
      }

      .mvp-square {
        .mvp-icon {
          display: none;
        }
      }
    }

    .photo-square {
      width: 48px;
      border-radius: 4px;
      margin-right: 10px;

      @include mobile {
        width: 36px;
        margin-right: 5px;
      }
    }

    .select-square {
      width: calc(35%);
      font-size: 20pt;
      height: 100%;
      align-items: center;
      display: flex;
      text-transform: uppercase;

      @include mobile {
        font-size: 14pt;
        width: calc(30%);
      }

      select {
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        text-transform: uppercase;
        font-size: 20pt;
        cursor: pointer;
        font-family: "Jura", Arial, Helvetica, sans-serif;
        overflow: hidden;

        @include mobile {
          font-size: 14pt;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .mvp-square {
      width: calc(5%);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;

      @include mobile {
        display: none;
      }

      .mvp-icon {
        background-image: url('../../img/mvp_icon.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
        position: absolute;
        right: -5px;
        top: 25%;
      }
    }

    .input-square {
      width: calc(10%);
      font-size: 20pt;
      height: 100%;
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;

      @include mobile {
        font-size: 14pt;
      }

      input {
        margin: 0px;
        width: 100%;
        border: none;
        padding: 0px;
        height: 100%;
        text-align: center;
        background: none;
        font-size: 20pt;
        font-family: "Jura", Arial, Helvetica, sans-serif;

        @include mobile {
          font-size: 14pt;
        }

        &:focus {
          outline: none;
        }
      }

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }

      .label {
        position: absolute;
        text-transform: uppercase;
        font-size: 10pt;
        color: #fff;
        top: -22px;
        font-weight: 700;

        @include mobile {
          font-size: 5pt;
          top: -15px;
        }
      }
    }

    .empty-square {
      width: calc(5%);

      @include mobile {
        display: none;
      }
    }

    &.blue {
      color: #74b3ee;
      background: linear-gradient(178deg, rgba(0, 59, 249, 0.7), rgba(0, 6, 27, 0.7));

      .photo-square {
        border: 2px solid #668bf4;
        background-image: url('../../img/eyecue_blue.png');
        background-repeat: no-repeat;
        background-size: contain;
      }

      .select-square {
        select {
          color: #74b3ee;
        }
      }

      .input-square {
        input {
          color: #74b3ee;

          &::placeholder {
            color: #94abbf;
          }
        }
      }
    }

    &.orange {
      color: #f1c47e;
      background: linear-gradient(178deg, rgba(143, 54, 18, 0.7), rgba(0, 6, 27, 0.7));

      .photo-square {
        border: 2px solid #f59c69;
        background-image: url('../../img/eyecue_orange.png');
        background-repeat: no-repeat;
        background-size: contain;
      }

      .select-square {
        select {
          color: #f1c47e;
        }
      }

      .input-square {
        input {
          color: #f1c47e;

          &::placeholder {
            color: #afaba4;
          }
        }
      }
    }
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;

  input[type=submit] {
    padding: 5px 15px;
    background: rgba(20, 20, 20, 0.9);
    font-family: "Jura", Arial, Helvetica, sans-serif;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 15pt;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;

    &:hover {
      background: rgba(0, 0, 0, 0.85);
    }
  }
}
